<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @factory.location %>
</p>

<p>
  <strong>Part:</strong>
  <%= @factory.part %>
</p>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %>
