<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car_part.name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @car_part.car %>
</p>

<%= link_to 'Edit', edit_car_part_path(@car_part) %> |
<%= link_to 'Back', car_parts_path %>
